$black: #020202;
$title: #2f3542;
$content: #596275;
$light: #f8f9fa;
$deep-content: #1a4272;

body {
    background: #ece9e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav {
    position: sticky;
    top: 0;
    opacity: 0.9;
    z-index: 100;
}

.nav .navbar {
    width: 100vw;
    font-weight: 600;
    font-size: 1.3rem;
    background: black;
    margin: 0;
    font-family: Titillium Web,sans-serif;
    .navbar-nav .nav-link {
        padding: 3px 20px;
        @media only screen and (max-width: 576px) {
            font-size: 0.7rem;
            padding: 3px 0;
        }
    }
}

@import "_home";
@import "_skills";
@import "_section-head";
@import "_projects";
@import "_contact";