@charset "UTF-8";
body {
  background: #ece9e6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ece9e6, #ffffff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ece9e6, #ffffff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav {
  position: sticky;
  top: 0;
  opacity: 0.9;
  z-index: 100;
}

.nav .navbar {
  width: 100vw;
  font-weight: 600;
  font-size: 1.3rem;
  background: black;
  margin: 0;
}
.nav .navbar .navbar-nav .nav-link {
  padding: 3px 20px;
}
@media only screen and (max-width: 576px) {
  .nav .navbar .navbar-nav .nav-link {
    font-size: 0.7rem;
    padding: 3px 0;
  }
}

.home {
  width: 100%;
  display: block;
  box-sizing: border-box;
}
.home-content {
  text-align: center;
  padding-top: 20vh;
  height: 100vh;
}
.home-content a {
  color: #596275;
  font-size: 35px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 50px 25px 0 25px;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (max-width: 480px) {
  .home-content a {
    width: 30px;
    height: 30px;
    margin: 50px 10px 0 10px;
    font-size: 25px;
  }
}
.home-content a:hover {
  color: #2f3542;
}
.home-content a span {
  color: #2f3542;
  position: absolute;
  font-family: sans-serif;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 5px;
  z-index: -1;
  font-weight: 500;
  font-size: 20px;
  border-radius: 4px;
  background: #f0feffb4;
  visibility: hidden;
  opacity: 0;
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.home-content a span:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: 40px;
}
.home-content a:hover span {
  bottom: 50px;
  visibility: visible;
  opacity: 1;
}
.home-content a:nth-of-type(1):before {
  content: "";
}
.home-content a:nth-of-type(2):before {
  content: "";
}
.home-content a:nth-of-type(3):before {
  content: "";
}
.home-content a:nth-of-type(4):before {
  content: "";
}
.home-background {
  height: 100vh;
  background-color: white;
  background: url("../../images/mountain.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  z-index: -10;
  opacity: 0.8;
}
.home__intro {
  font-size: 2rem;
  font-family: cursive;
  color: #596275;
  margin-top: 20px;
  letter-spacing: -1px;
}
@media only screen and (max-width: 576px) {
  .home__intro {
    font-size: 1.1rem;
  }
}
.home__title {
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 2px;
  color: #2f3542;
  font-weight: 400;
}
@media only screen and (max-width: 576px) {
  .home__title {
    font-size: 2.5rem;
  }
}

.skills {
  font-family: Titillium Web, sans-serif;
  padding: 0 40px;
}
.skills h3 {
  color: #1a4272;
  margin-top: 30px;
  font-weight: 700;
}
.skills p {
  color: #596275;
  font-weight: 600;
}

.section-head h2 {
  color: #1a4272;
  padding: 60px 0;
  font-size: 40px;
  font-weight: 700;
}
.section-head .underline {
  width: 80px;
  height: 0;
  border: #1a4272;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  margin: auto;
  position: relative;
  top: -50px;
}
.section-head h6 {
  position: relative;
  top: 70px;
  color: #2f3542;
  font-size: 14px;
  font-weight: 700;
}

.projects .project {
  border-top: solid 2px #1a4272;
  margin: 40px 0 100px 0;
  padding: 40px 30px 0 30px;
}
.projects .project h3 {
  margin: 20px 0;
  font-size: 25px;
  font-weight: 500;
}
.projects .project h4 {
  margin-bottom: 10px;
}
.projects .project .project-description {
  font-family: Titillium Web, sans-serif;
  color: #020202;
}
.projects .project .btn-project {
  margin-top: 20px;
  font-weight: 700;
  border-radius: 8px;
  border: 2px solid #718093;
  color: #718093;
}
.projects .project .btn-project:hover {
  border: 2px solid #020202;
  color: #020202;
}
.projects .project img {
  width: 100%;
  border-radius: 8px;
  z-index: 0;
  transition: all 0.6s;
}
.projects .project img:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
