//######## Skills Section #######
.skills {
    font-family: Titillium Web,sans-serif;
    padding: 0 40px;
    h3 {
      color: $deep-content;
      margin-top: 30px;
      font-weight: 700;
    }
    p {
      color: $content; 
      font-weight: 600;
    }
  }
  